@import "src/@fuse/scss/fuse";

jum-servicios {

    .entidades-table {

        .mat-column-id {
            flex: 0 1 10%;
        }

        .mat-column-nombre, .mat-column-segmetohotel, .mat-column-region {
            flex: 0 1 20%;
        }


        .mat-column-descripcion {
            flex: 0 1 50%;
        }

        .mat-column-usuario {
            flex: 0 1 20%;
        }

        .mat-column-image {
            flex: 0 1 84px;

            .entidad-image {
                width: 52px;
                height: 52px;
                border: 1px solid rgba(0, 0, 0, .12);
            }
        }
    }
}
